Q1) Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

Ans) 

SELECT REPLACE(FIRST_NAME,'a','A') AS "REPLACE NAME" FROM EMPLOYEES;

Q2). Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

Ans) 
SELECT * FROM employees e ORDER BY e.job_name ASC, e.emp_id DESC ;

Q3). Write an SQL query to fetch the names of workers who earn the highest salary.

Ans)  SELECT * FROM employees WHERE department_id=30 AND salary = (SELECT MAX(salary) FROM employees WHERE department_id=30);